main{
    padding: 20px;
    height: 20px;
    text-align: center;
}


.orange{
    background-color: orange;
    width: 50%;
    height: 60px;
}

.green{
    background-color: green;
    width: 50%;
    height: 60px;
}

img{
    height: 80px;
    width:20%;
}

